.ball-1{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 0px;
}

.ball-2{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 7px
}

.ball-3{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 14px
}

.ball-4{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 21px
}

.ball-5{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 28px;
    animation: ball5 ease infinite 1s;
}

.ball-6{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 35px;
}

.ball-7{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 42px;
}

.ball-8{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 49px;
}

.ball-9{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 56px;
}

.ball-10{
    background-color: black;
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 200px;
    top: 63px;
}

@keyframes ball5 {
    0%{
        left: 8px;
    }
    
    50%{
        left: 30px;
    }

    100%{
        left: 8px
    }
}